body{
    font-family: Tahoma, Geneva, sans-serif;
}
.mat-card{
    border-radius: 32px;
    margin: 10px 10 px;
    padding: 20px;
    border-color: turquoise;
}
.mat-card div {
    margin: 10px 10px;
}

#header {
    margin: 50px;
    margin-top: 10px;
    border-color:none;
    padding-bottom: 0px;
}

img.redimension {
    clip-path: inset(120px 0px 120px 0px);
    margin-top: -100px;
  }

#profile_image{
    clip-path: circle(40%);
    width:17%;
    height:17%;
    margin-top: -430px;
    margin-left: 80px;
    z-index:1;
}